.rvmrc
*.swp
.bundle
db/*.sqlite3
log/*.log
log/*.log.lck
tmp/
.sass-cache/
.DS_Store
vendor/ruby
vendor/psd
vendor/jruby
solr/data
public/uploads
ERD.pdf
vendor/backups
.fog
.powrc
.powenv
.env
.rspec
public/sitemaps
.elasticbeanstalk/
vendor/ruby
vendor/cache
